.container {
  height: 260px;
  width: 100%;
  background-color: whitesmoke;
  padding: 3% 15% 3% 15%;
}

.container .containerCard {
  height: 215px;
  width: 210px;
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  
  margin-top: 8%;
  margin-bottom: 25%;
}

.cardImage {
  height: 100px;
  
  margin: 10px;
  background-color: rgb(65, 62, 62);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
}

.cardImageLabel {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
